@charset "UTF-8";
.content{
    width: 100%;
    height: 100%;
    position : relative;
}
.video.con{
    width: 100%;
    height: 720px;
    overflow: hidden;
}
.video-con video{
    overflow: hidden;
    position: relative;
  }
.btn-con{
	  position: absolute;
	  width: 500px;
	  height: 250px;
	  position: absolute;
	  top: 35%;
      left: 50%; 
	  transform: translateX(-50%);

/* 	  top: 400px; */
/* 	  left: 720px; */
	  opacity: 0.5;
	  background-color: pink;
}
.Game-btn{
	width: 500px;
	height: 250px;
	background-color: pink;
	cursor: pointer;
	font-size: 8.5em;
}
