@charset "UTF-8";
.oxArea{
	max-width:100%;
	margin-left:auto;
	margin-right:auto;
	height:800px;
	background-color: yellow;
}
.oxTitle{
	float:left;
	margin-top: 50px;
	margin-left:100px;
	width:25%;
	background-color: red;
}
.writeArea{
	float:left;
	width: 50%;
	margin-top: 50px;
	margin-left:100px;
	
}
.