<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boardMapper">

	<resultMap type="Board" id="boardResultMap">
		<id property="bNo" column="B_NO" />
		<result property="bTitle" column="B_TITLE"/>
		<result property="bContents" column="B_CONTENTS"/>
		<result property="userNo" column="USER_NO"/>
		<result property="bFileName" column="B_FILENAME"/>
		<result property="bFileRename" column="B_FILERENAME"/>
		<result property="bFileSize" column="B_FILESIZE"/>
		<result property="bfilePath" column="B_FILEPATH"/>
		<result property="bCreateDate" column="B_CREATE_DATE"/>
		<result property="bUpdateDate" column="B_UPDATE_DATE"/>
	</resultMap>


		<select id="selectAllList" resultMap="boardResultMap">
			SELECT * FROM BOARD ORDER BY B_NO DESC
		</select>
	
		<select id="selectOneBoard" resultMap="boardResultMap">
			SELECT * FROM BOARD WHERE B_NO = #{bNo }
		</select>
		
		<insert id="insertBoard" parameterType="Board">
			INSERT INTO BOARD VALUES(SEQ_BOARDNUM.NEXTVAL, #{bTitle }, #{bContents }, #{userNo }, #{bFileName }, #{bFileRename }, DEFAULT, DEFAULT, DEFAULT, DEFAULT)
		</insert>
		
		<update id="updateBoard" parameterType="Board">
			UPDATE BOARD SET BOARD_TITLE = #{bTitle },
			B_CONTENTS = #{bContents }, B_FILENAME = #{bFileName }
			,B_FILERENAME = #{bFileRename }, B_UPDATE_DATE = DEFAULT 
			WHERE B_NO = #{bNo }
		</update>

		<delete id="deleteBoard" parameterType="_int">
			DELETE FROM BOARD WHERE B_NO = #{bNo }
		</delete>










</mapper>