<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="campaignMapper">
	<resultMap type="Campaign" id="campaignResultMap">
		<id property="campaignNo" column="CAMPAIGN_NO" />
		<result property="campaignName" column="CAMPAIGN_NAME" />
		<result property="campaignType" column="CAMPAIGN_TYPE" />
		<result property="campaignTitle" column="CAMPAIGN_TITLE" />
		<result property="campaignContents" column="CAMPAIGN_CONTENTS" />
		<result property="cLink" column="CAMPAIGN_LINK" />
		<result property="cTargetAmount" column="CAMPAIGN_TARGET_AMOUNT" />
		<result property="cNowAmount" column="CAMPAIGN_NOW_AMOUNT" />
		<result property="cEndDate" column="CAMPAIGN_ENDDATE" />
		<result property="cFileName" column="CAMPAIGN_FILE_NAME" />
		<result property="cFileRename" column="CAMPAIGN_FILE_RENAME" />
		<result property="cEnrollDate" column="CAMPAIGN_ENROLL_DATE" />
	</resultMap>
	
	<insert id="insertCampaign" parameterType="Campaign">
		INSERT INTO CAMPAIGN VALUES(SEQ_CAMPAIGN.NEXTVAL, #{campaignName}, #{campaignType}, #{campaignTitle}, #{campaignContents}, #{cLink}, #{cTargetAmount}, DEFAULT, #{cEndDate}, #{cFileName}, #{cFileRename}, SYSDATE)
	</insert>
	<!-- <insert id="insertcRecord" parameterType="CampaignRecord">
		INSERT INTO CAMPAIGN_RECORD(SEQ_CAMPAIGN_RECORD_NEXTVAL, #{userNo}, #{campaignNo}, #{cRecordPoint}, SYSDATE, #{campaignName})
	</insert> -->


	<select id="selectListStaticCount" resultType="_int">
		SELECT COUNT(*) FROM MAIN_GAME_INFO
	</select>
	<!-- 임시로 사용중... -->
	<select id="selectCampaignStaticList" resultMap="campaignResultMap">
		SELECT CAMPAIGN_NO,CAMPAIGN_NOW_AMOUNT,CAMPAIGN_TARGET_AMOUNT, CAMPAIGN_ENROLL_DATE FROM CAMPAIGN ORDER BY CAMPAIGN_NO DESC
	</select>

	<select id="selectListCount" resultType="_int">
		<choose>
			<when test='value != null'>
				SELECT COUNT(*) FROM CAMPAIGN WHERE CAMPAIGN_TYPE=#{value }
			</when>
			<otherwise>
				SELECT COUNT(*) FROM CAMPAIGN 
			</otherwise>
		</choose>
	<!-- 	SELECT COUNT(*) FROM CAMPAIGN -->
	</select>
	
	<select id="selectCampaignList" resultMap="campaignResultMap">
		<!-- 동적 쿼리문 -->
		<choose>
			<when test="type == 'all'">
				SELECT * FROM CAMPAIGN ORDER BY CAMPAIGN_ENROLL_DATE DESC
			</when>
			<otherwise>
				SELECT * FROM CAMPAIGN WHERE CAMPAIGN_TYPE=#{type} ORDER BY CAMPAIGN_ENROLL_DATE DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="selectCampaignRandomList" resultMap="campaignResultMap">
		SELECT * FROM CAMPAIGN WHERE ROWNUM<![CDATA[<]]> 4
	</select>
	
	<select id="selectOneCampaign" resultMap="campaignResultMap">
		SELECT * FROM CAMPAIGN WHERE CAMPAIGN_NO=#{campaignNo}
	</select>
	<select id="selectAllDonation" resultType="_int">
		SELECT COUNT(*) FROM MAIN_GAME_INFO
	</select>
	<select id="selectSumPrice" resultType="_int">
		SELECT SUM(TOTAL_MONEY)-SUM(RECEIVE_MONEY) FROM MAIN_GAME_INFO
	</select>
	<select id="selectPrice" resultType="_int">
		SELECT (TOTAL_MONEY-RECEIVE_MONEY) FROM MAIN_GAME_INFO WHERE TURN_NO=(SELECT MAX(TURN_NO) FROM MAIN_GAME_INFO)
	</select>
	
	<update id="updateCampaign" parameterType="Campaign">
		UPDATE CAMPAIGN SET CAMPAIGN_TITLE=#{campaignTitle}, CAMPAIGN_CONTENTS=#{campaignContents}, CAMPAIGN_FILE_NAME=#{cFileName}, CAMPAIGN_FILE_RENAME=#{cFileRename}, CAMPAIGN_LINK=#{cLink}, CAMPAIGN_TYPE=#{campaignType} WHERE CAMPAIGN_NO=#{campaignNo}
	</update>
	
	<delete id="deleteCampaign" parameterType="_int">
		DELETE FROM CAMPAIGN WHERE CAMPAIGN_NO=#{campaignNo}
	</delete>
</mapper>