<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="campaignMapper">
	<resultMap type="Campaign" id="campaignResultMap">
		<id property="campaignNo" column="CAMPAIGN_NO" />
		<result property="campaignName" column="CAMPAIGN_NAME" />
		<result property="campaignType" column="CAMPAIGN_TYPE" />
		<result property="campaignTitle" column="CAMPAIGN_TITLE" />
		<result property="campaignContents" column="CAMPAIGN_CONTENTS" />
		<result property="cLink" column="CAMPAIGN_LINK" />
		<result property="cTargetAmount" column="CAMPAIGN_TARGET_AMOUNT" />
		<result property="cNowAmount" column="CAMPAIGN_NOW_AMOUNT" />
		<result property="cEndDate" column="CAMPAIGN_ENDDATE" />
		<result property="cFileName" column="CAMPAIGN_FILE_NAME" />
		<result property="cFileRename" column="CAMPAIGN_FILE_RENAME" />
		<result property="cEnrollDate" column="CAMPAIGN_ENROLL_DATE" />
	</resultMap>

	<insert id="insertCampaign" parameterType="Campaign">
		INSERT INTO CAMPAIGN VALUES(SEQ_CAMPAIGN.NEXTVAL, #{campaignName}, #{campaignType}, #{campaignTitle}, #{campaignContents}, #{cLink}, #{cTargetAmount}, DEFAULT, #{cEndDate}, #{cFileName}, #{cFileRename}, SYSDATE)
	</insert>

	<select id="selectListCount" resultType="_int">
		SELECT COUNT(*) FROM CAMPAIGN
	</select>	
	<select id="selectCampaignList" resultMap="campaignResultMap">
		SELECT * FROM CAMPAIGN ORDER BY CAMPAIGN_ENROLL_DATE DESC
	</select>
	<select id="selectOneCampaign" resultMap="campaignResultMap">
		SELECT * FROM CAMPAIGN WHERE CAMPAIGN_NO=#{campaignNo}
	</select>
	
	<delete id="deleteCampaign" parameterType="_int">
		DELETE FROM CAMPAIGN WHERE CAMPAIGN_NO=#{campaignNo}
	</delete>
</mapper>