<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="quizMapper">
	<resultMap type="Ox" id="oxResultMap">
		<id property="oxNo" column="OX_NO"/>
		<result property="oxTitle" column="OX_TITLE"/>
		<result property="oxContents" column="OX_CONTENTS"/>
		<result property="oxCommentary" column="OX_COMMENTARY"/>
		<result property="oxAnswer" column="OX_ANSWER"/>
		<result property="oxEnrollDate" column="OX_ENROLLDATE"/>
		<result property="oxFileName" column="OX_FILENAME"/>
		<result property="oxFileRename" column="OX_FILERENAME"/>
	</resultMap>
	
	<select id="selectListCount" resultType="_int">
		SELECT COUNT(*) FROM OX_QUIZ
	</select>
	<select id="selectAllList" resultMap="oxResultMap">
		SELECT * FROM OX_QUIZ ORDER BY OX_NO DESC
	</select>
	<select id="selectOneOx" resultMap="oxResultMap">
		SELECT * FROM OX_QUIZ WHERE OX_NO = #{oxNo}
	</select>
	
	<insert id="insertOx" parameterType="Ox">
		INSERT INTO OX_QUIZ VALUES(SEQ_OX_QUIZ.NEXTVAL,#{oxTitle},#{oxContents},#{oxCommentary},#{oxAnswer},SYSDATE,#{oxFileName},#{oxFileRename})
	</insert>
	
	<update id="updateOx" parameterType="Ox">
		UPDATE OX_QUIZ SET OX_TITLE = #{oxTitle} , OX_CONTENTS=#{oxContents}, OX_COMMENTARY=#{oxCommentary},OX_ANSWER=#{oxAnswer},OX_FILENAME=#{oxFileName},OX_FILERENAME=#{oxFileRename} WHERE OX_NO =#{oxNo}
	</update>
	
	<delete id="deleteOx" parameterType="_int">
		DELETE FROM OX_QUIZ WHERE OX_NO = #{oxNo}
	</delete>
</mapper>