<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="reportMapper">
<!-- 	<resultMap type="Board" id="Board"> -->
<!-- 		<result property="bTitle" column="BOARD_TITLE"> -->
<!-- 		<result property="userId" column="USER_ID"> -->
<!-- 	</resultMap> -->
	<resultMap type="Report" id="reportResultMap">
		<id property="reportNo" column="REPORT_NO"></id>
		<result property="boardNo" column="BOARD_NO"></result>
		<result property="reportedUserId" column="REPORT_USER_ID"></result>
		<result property="boardTitle" column="BOARD_TITLE"></result>
		<result property="boardWriter" column="WRITER"></result>
		<result property="boardReportDate" column="BOARD_REPORT_DATE"></result>
	
<!-- 		<collection property="Board" resultMap="Board"></collection> -->
	</resultMap>
		
		<select id="selectAllReport" resultMap="reportResultMap">
			SELECT BOARD_REPORT.REPORT_NO, BOARD.BOARD_NO,BOARD_REPORT.REPORT_USER_ID, BOARD.BOARD_TITLE, BOARD.USER_ID AS WRITER, BOARD_REPORT.BOARD_REPORT_DATE
			FROM BOARD INNER JOIN BOARD_REPORT
			ON BOARD.BOARD_NO = BOARD_REPORT.BOARD_NO
			ORDER BY BOARD_REPORT.REPORT_NO DESC
		</select>
		<select id="selectReportCount" resultType="_int">
			SELECT COUNT(*) FROM BOARD_REPORT 
		</select>
		
		<delete id="deleteReportBaord">
			DELETE FROM BOARD WHERE BOARD_NO = #{boardNo}
		</delete>
		<delete id="deleteReport">
			DELETE FROM BOARD_REPORT WHERE REPORT_NO = #{reportNo}
		</delete>
<!-- 	<select id="selectExchangeList" resultMap="exchangeResultMap"> -->
<!-- 		SELECT * FROM EXCHANGE ORDER BY EXCHANGE_NO DESC -->
<!-- 	</select> -->
	
<!-- 	<select id="selectOwnExchange" parameterType="_int" resultMap="exchangeResultMap"> -->
<!-- 		SELECT * FROM EXCHANGE WHERE USER_NO = #{userNo} ORDER BY EXCHANGE_NO DESC -->
<!-- 	</select> -->
	
<!-- 	<select id="selectSearchExchange"  resultMap="exchangeResultMap"> -->
<!-- 		SELECT * FROM EXCHANGE -->
<!-- 		<if test="searchCondition.toString() == 'userId'"> -->
<!-- 			 WHERE USER_ID LIKE  '%' || #{searchValue} || '%' -->
<!-- 		</if> -->
<!-- 		<if test="searchCondition.toString() == 'userName'"> -->
<!-- 			 WHERE USER_NAME LIKE  '%' || #{searchValue} || '%' -->
<!-- 		</if> -->
<!-- 		<if test="searchCondition.toString() == 'bank'"> -->
<!-- 			 WHERE  EXCHANGE_BANK LIKE  '%' || #{searchValue} || '%' -->
<!-- 		</if> -->
<!-- 		<if test="searchCondition.toString() == 'all'"> -->
<!-- 			 WHERE USER_ID LIKE  '%' || #{searchValue} || '%' -->
<!-- 			 OR USER_NAME LIKE  '%' || #{searchValue} || '%' -->
<!-- 			 OR EXCHANGE_BANK LIKE  '%' || #{searchValue} || '%' -->
<!-- 		</if> -->
<!-- 		ORDER BY EXCHANGE_ENROLLDATE DESC -->
<!-- 	</select> -->
	
<!-- 		<select id="selectListCount" resultType="_int"> -->
<!-- 		SELECT COUNT(*) FROM EXCHANGE -->
<!-- 	</select> -->
	
<!-- 	<select id="selectOwnListCount" resultType="_int"> -->
<!-- 		SELECT COUNT(*) FROM EXCHANGE WHERE USER_NO=#{userNo} -->
<!-- 	</select> -->
	
<!-- 	<insert id="insertExchange" parameterType="Exchange"> -->
<!-- 		INSERT INTO EXCHANGE VALUES(SEQ_EXCHANGE.NEXTVAL,#{userNo},DEFAULT,null,DEFAULT,#{exchangeMoney},#{account},#{exchangeBank},#{userName},#{userId}) -->
<!-- 	</insert> -->
	

	
</mapper>