<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  <configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
<!-- 		만약에 Null로 데이터가 전달이 되었으면 빈칸이 아닌 Null로 인식하도록 설정한다 -->
	</settings>
	
	<typeAliases>
		<typeAlias type="com.pj.ptsd.campaign.domain.Campaign" alias="Campaign"/>
		<typeAlias type="com.pj.ptsd.user.domain.User" alias="User"/>
		<typeAlias type="com.pj.ptsd.notice.domain.Notice" alias="Notice"/>
		<typeAlias type="com.pj.ptsd.qna.domain.Qna" alias="Qna"/>
		<typeAlias type="com.pj.ptsd.exchange.domain.Exchange" alias="Exchange"/>
		<typeAlias type="com.pj.ptsd.quiz.domain.Ox" alias="Ox"/>
		<typeAlias type="com.pj.ptsd.board.domain.Board" alias="Board"/>
		<typeAlias type="com.pj.ptsd.report.domain.Report" alias="Report"/>
		<typeAlias type="com.pj.ptsd.report.domain.ReplyReport" alias="ReplyReport"/>
		<typeAlias type="com.pj.ptsd.quiz.domain.MainGameInfo" alias="MainGameInfo"/>
		<typeAlias type="com.pj.ptsd.board.domain.Reply" alias="Reply"/>
<!-- 		<typeAlias type="com.iei.spring.member.domain.Member" alias="Member"/> -->
	</typeAliases>
	
	<mappers>
		<mapper resource="mappers/campaign-mapper.xml" />
		<mapper resource="mappers/user-mapper.xml"/>
		<mapper resource="mappers/notice-mapper.xml"/>
		<mapper resource="mappers/qna-mapper.xml"/>
		<mapper resource="mappers/exchange-mapper.xml"/>
		<mapper resource="mappers/quiz-mapper.xml"/>
		<mapper resource="mappers/board-mapper.xml"/>
		<mapper resource="mappers/report-mapper.xml"/>
		<mapper resource="mappers/game-mapper.xml"/>
		<mapper resource="mappers/userManagement-mapper.xml"/>
	</mappers>
</configuration>